@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Bridgehead */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"]{
	text-align: justify;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"] > p + p{
	text-indent: 1em;
}
/* End bridgehead */

/* Poem */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p > span:first-child{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poem */
